.add-note-container {
  cursor: text;
  background-color: transparent;
  border: 1px solid #525356;
  width: 80%;
  border-radius: 8px;
  display: flex;

  padding: 10px;
  flex-direction: column;
}
.add-note-label {
  color: white;
}
@media only screen and (max-width: 439px) {
  .add-note-container {
    width: 100%;
  }
}

@media only screen and (min-width: 439px) {
  .add-note-container {
    width: 50%;
  }
}
@media only screen and (min-width: 750px) {
    .add-note-container {
      width: 70%;
    }
  }
  @media only screen and (min-width: 1000px) {
    .add-note-container {
      width: 50%;
    }
  }
  