.custom-button{
    cursor: pointer;
    color: white;
    background-color: rgb(177, 174, 25);
    border: 0px;
    border-radius: 8px;
    padding: 5px;
}
.custom-button:hover{
    background-color: rgba(73, 73, 73, 0.829);
}