.large{
    font-size: 30px;
    color: white;
}
.clickable-text{
    color: rgb(163, 163, 30);
    cursor: pointer;

}
.clickable-text:hover{
    color: rgba(255, 255, 0, 0.637);
    cursor: pointer;
    
}